body {
  text-align: center;
  background-color: grey;
}

canvas {
  border: 1px solid black;
  background-image: "C:/Program Files (x86)/EasyPHP-Devserver-17/eds-www/JS Super Mario/assets/cloudsFixed.jpg";
}

.fab {
  color: white;
}

ul {
  margin: 0 auto;
}

i {
  margin: 7px;
}