body {
  text-align: center;
  background-color: grey;
}

canvas {
  border: 1px solid black;
}

.fab {
  color: grey;
}

ul {
  margin: 0 auto;
}

i {
  margin: 7px;
}

#password {
  text-align: center;
}

input::placeholder{
  color: grey;
}

#github {
  color: grey;
}