body {
  text-align: center;
  background-color: grey;
}

canvas {
  border: 1px solid black;
}

.fab {
  color: grey;
}

ul {
  margin: 0 auto;
}

i {
  margin: 7px;
}

#password {
  text-align: center;
  color: grey;
  border: none;
}

#github {
  color: grey;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
